.buyllet__container {
    display: flex;
    overflow: auto; 
}

.bullet__item,
.bullet__item--image {
    width: 80px;
}

.bullet__item--image {
    margin-right: 15px;
}

.bullet__item--link {
    text-decoration: none;
}

.bullet__item--title {
    font-size: 12px;
    text-align: center;
}

@media screen and (min-width: 760px) {
    .bullet__item,
    .bullet__item--image {
        width: 100px;
    }
}